a {
    text-decoration: none;
}
button {
    background-color: transparent;
    padding: 0;
    border: none;
}
body {
    font-family: "Sans-reg", sans-serif;
    font-size: 16px;
    color: #212121;
    background-color: #fff;
    overflow-x: hidden;
}
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.section-title {
    font-family: "Sans-bold",  sans-serif;
    font-size: 27px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
}

